In [6]:
#leave days
leave_days=0
leave_days = leave_days + 1
print(leave_days)

1

In [10]:
#incrementing variables by value
leave_days += 1
print(leave_days)

2

In [18]:
leave_days = 21

In [11]:
#decrementing variables
leave_days -=1
print(leave_days)

1

In [1]:
leave_days = 21

take_leave = True
#decide to take leave#condition
if take_leave:
    leave_days -=1
print(leave_days)

20

In [2]:
age = 20
if age > 18: #condition
    print("You can have ID")

You can have ID

In [9]:
if (score > 40):
    grade = "D"
    print(grade)

D

In [8]:
score = 45
if score > 40:
    grade ="D"
    outcome ="Pass"
    print(outcome)

else:
    outcome ="Fail"
    print(outcome)

Pass

In [53]:
# if and condition is met 
age = 19 
gender = "Male" 

if (age < 18) and (gender == "Male"):
    
    print ("Boy")

In [58]:
# grades

grade = 43
if (grade>40) and (grade<50):
    grade = 'D'
    print(grade)
    
elif (grade >=50) and (grade<60):
    grade = 'C'
    print(grade)

elif (grade >=60) and (grade<70):
    grade = 'B'
    print(grade)
    
elif grade >70:
    grade= 'A'
    print(grade)

else: 
    print('fail')

D

In [ ]:
##AND
*used to join two or more conditions
*example students who score

In [15]:
#grader
#def grader(students_grade)

grade = 43
    
if (grade>40) and (grade<50):
    grade = 'D'
    print(grade)

elif (grade >=50) and (grade<60):
    grade = 'C'
    print(grade)

elif (grade >=60) and (grade<70):
    grade = 'B'
    print(grade)

elif grade >70:
    grade= 'A'
    print(grade)

else:
    print('fail')

D

In [65]:
##
height =45
weight =60
if (height > 40) or (weight > 50):
    print("i am a baby")

i am a baby

In [70]:
height =65
weight =90
if (height > 80) or (weight < 10):
    print("i am a baby")
else:
    print("you are an adult")

you are an adult

# Assignment

In [ ]:
#Write a program that determines whether a number is even or odd. Print a message indicating whether the number is even or odd.

In [16]:
number = 12

if(number % 2) == 0:
    print("even")
    
else:
    print("odd")

even

In [17]:
number = 17

if(number % 2) == 0:
    print("even")
    
else:
    print("odd")

odd

In [22]:
#Write a program that checks if a given year is a leap year. A leap year is divisible by 4, but not divisible by 100, except if its divisible by 400.
year = 2000

if (year%4==0) and (year%100!=0) or (year%400==0): 
    outcome = "Leap Year"
    print(outcome)
else:
    outcome = "Not Leap Year"
    print(outcome)

Leap Year

In [19]:
year = 2005

if (year%4==0) and (year%100!=0) or (year%400==0): 
    outcome = "Leap Year"
    print(outcome)
else:
    outcome = "Not Leap Year"
    print(outcome)

Not Leap Year

In [21]:
Age = 11

if (Age < 13):
    price = "Kes. 400"
    print(price)

elif (Age >= 13) and (Age <= 17):
    price = "Kes. 600"
    print(price)
    
elif (Age >= 18) and (Age <= 65):
    price = "Kes. 800"
    print(price)

else:
    price = "Kes. 350"
    print(price)

Kes. 400

In [24]:
#13 <= Age <=17 Ksh 600
if (Age <13):
    price = "Ksh 600"
    print(price)

Ksh 600

In [26]:
#Age vs. Price

Age = 68

if (Age < 13):
    price = "Kes. 400"
    print(price)

elif (Age >= 13) and (Age <= 17):
    price = "Kes. 600"
    print(price)
    
elif (Age >= 18) and (Age <= 65):
    price = "Kes. 800"
    print(price)

else:
    price = "Kes. 350"
    print(price)

Kes. 350