##objectives
*understand loop concept
*Demonstrate the type of Loops
*syntax
*Concept of Loop control
*Discuss iteration
*Discuss Nested loops
*Enhance loop Functionality

Introduction to Repetition

*Repetition is a fundamental concept in programming that involves performing the same set of instruction multiple times

*Used to automate tasks that require repeated execuation of code e.g *MPESA Menu*.

*Loops are a key mechanism in programmin to achieve this repetition efficiently

In [4]:
#consider a scenario counting 1 to 20
print(1)
print(2)
print(3)

1
2
3

In [5]:
#programing loops automate tasks
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [11]:
#use while loops
count = 0
while count <5:
    print("number:",count)
    count += 1

number: 0
number: 1
number: 2
number: 3
number: 4

##what is a loop?
is a programming constract that enables the repeated execution of a specific block of code.
Loops are used when you awnt to execute a specific block of code repeatedly.
When you want to automate tasks that need to be performed multilple times.
They control the flow of the program ,allowing certain codes to be executed repeadtly until a condition is met.

In [24]:
#list of numbers
numbers=[1,2,3,4,5,6,7,8,9]

for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9

In [30]:
#for fun
even_numbers =[]
odd_numbers =[]


for num in numbers:
    
    if(num % 2== 0):
        even_numbers.append(num)
    elif (num % 2== 1):
            odd_numbers.insert(0,num)
print(even_numbers)
print(odd_numbers)

[2, 4, 6, 8]
[9, 7, 5, 3, 1]

In [31]:
#sum the numbers between 1 and 10
sum = 1+2+3+4+5+6+7+8+9+10
print(sum)

55

In [33]:
#use a loop to find the sum of numbers between 1 and 10
#declare a variable to store the sum
sum = 0
#creating a loop>> for loop

for num in range(1,11):  #range(1,11)>> all the numbers between 1 and 11 excluding 11
    sum += num
print(sum)

55

In [ ]:
##Control Flow
*Loops influence the order in which instructions are executed.
*When a  loop is encountered the program enters a loop body, executing the cointained code.
*Syntax 
```
loop made of a condition:
    cointained block of 
    code to be executed 
    when condition is True/met

Program exits the loop

```
.*At each iteration, the program checks the loop condition. If the condition remains true, the loop body is executed again.
* if it becomes false the program exits the loop

iteration refers to each circle or repetition of a loop

In [73]:
#example
#assume the print statement below are block of code

print("This is an example of a loop")
print("We are demonstrating while loops")
#loop to stimulate a count down
countdown=5
#our program meets a loop block>> while loop

while (countdown >0):
    print(f"countdown value: {countdown}!!")
    countdown -= 1
print ("Exit loop!and program continues")

This is an example of a loop
We are demonstrating while loops
countdown value: 5!!
countdown value: 4!!
countdown value: 3!!
countdown value: 2!!
countdown value: 1!!
Exit loop!and program continues

SyntaxError: invalid syntax (2268177103.py, line 1)

##Types of Loops
* There are two main types of LOOPs
```for ```and ```while```
*Type of loop you choose depends on whether you know the number of ierations in advance or if it depends on a condition

when you know the number of iteration, you use while loop when you dont for loop

##For Loop
*Basic syntax
```
For item in sequence:
    #code to be executed for each item
    #...
...
for :signal that the start of a loop.
* "item":is a variable that represents the current item in the sequence during each iteration of the loop
*'in' : Keyword used to specific that you are iterating in the given sequence.
*seuence :collection of items that you want to iterate over (e.g list, string,tuple
                                                             : signifies the start of the idented code block that will be executed for eacgh iteration of the loop.
                                                             inside the indented code block, you place the action or operations that you want to perform on each on each item in the sequence.The loop will automatically iterate through the entire sequence, executing the code block for each item.

In [1]:
name = "Baraka"
for letter in name:
    print(letter)

B
a
r
a
k
a

In [10]:
#code demonstration
high_courts= ['Kisumu', 'Kisii', 'Nyamira', 'Homabay', 'Migori', 'Kitale', 'Nakuru']

for court in high_courts:
    #code block to execute for each item
    print(court)
    if  (court== 'Migori'):
        break;

Kisumu
Kisii
Nyamira
Homabay
Migori

In [9]:
4==5

False

###
Refer to data structures that hold a collection of elements, where each element is accessible by an index or a key
these elements are ordered meaning they have a specific position

In [11]:
print(high_courts)
#accessing 
print(high_courts[3])

['Kisumu', 'Kisii', 'Nyamira', 'Homabay', 'Migori', 'Kitale', 'Nakuru']
Homabay

In [14]:
#looping through list court
for court in high_courts:
#code to execute
    lower_case=court.lower()
    print(lower_case)

kisumu
kisii
nyamira
homabay
migori
kitale
nakuru

In [15]:
court.lower()
print(court)

Nakuru

In [23]:
#tuple > similar to lists, but they are immutable, meaning:
#their contents cannot be changed after creation
#syntax tuple_name = (item1,item2,

noise_makers=('yussuf','jarso','nyambane','dominic')
for notorious in noise_makers:
    
    print(noise_makers[2])

nyambane
nyambane
nyambane
nyambane

In [1]:
#iterate through a string
word ="Judiciary"
for char in word:
    print(char)

J
u
d
i
c
i
a
r
y

In [13]:
#empty list to store chars

word_char =[]
for char in word:
    word_char.append(char)
    
print(word_char)

['J', 'u', 'd', 'i', 'c', 'i', 'a', 'r', 'y']

In [22]:
#range-sequence of numbers
#empty list to store odd numbers
odd_nums=[]
for nums in range(1,10):
    if (nums%2==1):
        odd_nums.append(num)
print(odd_nums)

[9, 9, 9, 9, 9]

##loop body
refers to the block of codes that is exceuted repeadly for each iteration of a loop
In programming, a loop is designed to perform repeadted tasks automatically and the loop body cointains the instructions that define what those are.
##important points to consider
**indentation**-The loop body is indented to indicate that is the part of the loop.
It define the scope of the loop body.
**iteration**- Loop body is executed once for each item in the sequence that cointains elements upon which the instructions and execution will be repeated.
**accessing Loop variable** the loop variable value can be accessed inside the loop body to perform specific actions to that value.
**manipulation** inside the loop body, you can perform various operations on the loop variable or use it to interact with other parts of the program.

In [24]:
for num in range(1,6):
    square= num**2
    print(f"The square of {num}={square}")

The square of 1=1
The square of 2=4
The square of 3=9
The square of 4=16
The square of 5=25

###`range`()`

Function commonly used when working with loops
generate a sequence of numbers within a specified range, which can be used for various purposes e.g iterating through a loop of certain numbers.
*Range() takes upto 3 arguments:
1. Start(Inclusive,optional)** the starting value of the sequence.If ommitted,the sequence strats from zero by default
2.**Stop**(exclusive) the ending value of the sequence. The sequence will go up to value but not include the value in the sequence The sequence will go up to the value, but not include the value in the sequence. example if stop is 50, and start is 0, the sequence will be all the numbers including 0 to 49, but not 50.
3. **step(optional)** - The difference between consecutive values in the sequence. By default, the value of step is 1.

In [34]:
def greet_students(student_name):
    message=f"Hello {student_name}, Welcome to Home!!"
    return print(message)
greet_students("Chemu")

Hello Chemu, Welcome to Home!!

In [35]:
student_names =['Prof','Baraka','Barasa']
for name in student_names:
    greet_students(name)

Hello Prof, Welcome to Home!!
Hello Baraka, Welcome to Home!!
Hello Barasa, Welcome to Home!!

In [ ]:
###Basic Range
*Only using stop to generate a sequence of numbers from 0 to 10
*Remember if you dont include start and step, python will automatically pick the numbers Remember if you dont include start and step, python will automatically pick the numbers 0 and 1 as the default value for stop and step

In [36]:
##from 0 to 10
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [38]:
####specifying start and stop
#Generate a sequence where we specify the start 
for num in range(30,41):
    print(num)

30
31
32
33
34
35
36
37
38
39
40

In [40]:
for num in range(3,31,5):
    print(num)

3
8
13
18
23
28

In [42]:
##even_numbers

even_numbers=[]
for num in range(0,101,2):
    even_numbers.append(num)
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [43]:
#nested loops
print(student_names)

['Prof', 'Baraka', 'Barasa']

In [45]:
item_1 =student_names[0]
for letters in item_1:
    print(letters)
for students in students_names
    print()

P
r
o
f

In [53]:
item_1 =student_names[0]
#for letters in item_1:
    
for student in student_names:#first loop
    for letters in student:
        print(letters)
    print()

P
r
o
f

B
a
r
a
k
a

B
a
r
a
s
a

In [69]:

num_rows = 5
Star_List = "*"
for i in range (num_rows):
    for j in range (i+1):
        print (Star_List, end = " ")
    print ()

*
* *
* * *
* * * *
* * * * *

In [254]:
num_rows = 5
Star_List = "*"
Space = ' '
for i in range (num_rows): 
    for j in range (i+1):
        print (Star_List,end = " ")
    print ()

*
* *
* * *
* * * *
* * * * *

In [284]:
num_rows = 5
Star_List = "*"
Space = ' '
for i in range (num_rows): 
    for j in range (i-1):
        for i in range (num_rows): 
            print (Space,end = " ")
        for j in range (i+1):
            print (Star_List,end = " ")
        print ()

          * * * * *
          * * * * *
          * * * * *
          * * * * *
          * * * * *
          * * * * *

In [299]:
num_rows = 5
Star_List = "*"
Space = ' '
for j in range (i-1):
    for i in range (num_rows): 
        print (Space,end = " ")
    for i in range (num_rows): 
        for j in range (i+1):
            print (Star_List,end = " ")

print ()

          * * * * * * * * * * * * * * *           * * * * * * * * * * * * * * *           * * * * * * * * * * * * * * *

In [300]:

num_rows = 5
Star_List = "*"
for i in range (num_rows):
    for j in range (i+1):
        print (Star_List, end = " ")
    print ()

*
* *
* * *
* * * *
* * * * *

In [301]:

num_rows = 5
Star_List = "*"
for i in range (num_rows):
    for j in range (i+1):
        print (Star_List, end = " ")
    print ()

*
* *
* * *
* * * *
* * * * *

In [308]:

num_rows = 5
Star_List = "*"
Space = ' '
for i in range (num_rows):
    for j in range (i+1):
        print (Space, Star_List, end = " ")
    print ()

  *
  *   *
  *   *   *
  *   *   *   *
  *   *   *   *   *

In [424]:
num_rows = 5
Star = "*"
Space = ' '
for i in range (num_rows): 
    for j in range (i-1):
        print (Space, end = " ")
        for j in range (i+1):
            print (Star, end = " ")
    print ()

  * * *
  * * * *   * * * *
  * * * * *   * * * * *   * * * * *

In [452]:
num_rows = 5
Star = "*"
#Space = ' '
for i in range (num_rows): 
    for j in range (i+1):
        print (end = " ")
    i = i-1
    for j in range (num_rows):
        print (Star, end = " ")
    print ()

 * * * * *
  * * * * *
   * * * * *
    * * * * *
     * * * * *

In [464]:
rows = 5
for i in range(rows):
    for j in range(i + 1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [470]:
rows = 5
for i in range(rows):
    # Print spaces before the asterisks
    for k in range(rows -i -1):
        print(' ', end=' ')
    
    # Print the asterisks for the current row
    for j in range(i + 1):
        print('*', end=' ')
    
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [474]:
rows = 5
Space = ' '
Star = '*'
for i in range(rows):
    # Print spaces before the asterisks
    for k in range(rows -i -1):
        print(Space, end=' ')
    
    # Print the asterisks for the current row
    for j in range(i + 1):
        print(Star, end=' ')
    
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [488]:
rows = 5
Space = ' '
Star = '*'
for i in range(rows -i -1):
    # Print spaces before the a
    for k in range(rows):
        print(Space, end=' ')
    
    # Print the asterisks for the current row
    for j in range(i + 1):
        print(Star, end=' ')
    
    print()

          *
          * *
          * * *
          * * * *