In [6]:
import numpy as np
import pandas as pd

In [7]:
random_nyumbas =np.random.randint(4000,20000, size=120)

In [5]:
random_nyumbas

array([ 8778,  6162, 14402, 10433,  4299, 17953, 19070, 19955, 16419,
       15758,  6852, 16657, 19400, 17328, 12341,  5927, 15399, 12219,
        7293,  6385, 14939, 12978, 15108, 18606, 18764, 12578, 18656,
       12318,  9697,  4793, 12063, 17218, 12974, 18114, 18917, 19716,
       11030,  8256, 16302, 10472, 10766,  8325, 17120,  9479,  8501,
       10539, 19965,  5415, 13616, 15973,  9411, 17661, 16575, 11247,
       12926, 13883, 12547,  8926, 10783,  7468, 13400, 12276, 10468,
       13462, 14972, 16493, 17990, 13627, 18274,  8640, 15733,  6233,
        8090, 17202, 14884, 11644,  6409, 17814, 19750, 18870,  7461,
        8804, 13932, 11250,  7641,  6174, 11721, 12454,  9806, 13518,
        5343, 17086, 17957,  8912, 19808,  7977, 16419, 12299,  7517,
       12284,  5983, 12437,  9607, 15798, 18688, 18228,  9761,  8048,
        6256, 14566, 11007, 18507, 14624, 11602, 17599,  9864,  7823,
       14755, 19529,  5257])

In [10]:
#Display the first and last 7 houses.
random_nyumbas= pd.Series(random_nyumbas, name="nyumba_ziko")
random_nyumbas

0       7991
1       8207
2       6976
3      19000
4      17452
       ...
115     4227
116    19587
117    13110
118    11382
119     9316
Name: nyumba_ziko, Length: 120, dtype: int32

In [11]:
#Display the first and last 7 houses.
random_nyumbas.head(7)

0     7991
1     8207
2     6976
3    19000
4    17452
5    19962
6    17097
Name: nyumba_ziko, dtype: int32

In [12]:
random_nyumbas.tail(7)

113     9465
114     5526
115     4227
116    19587
117    13110
118    11382
119     9316
Name: nyumba_ziko, dtype: int32

In [13]:
#Create a function that will take in the price of the house and return the category of that house, eg Suburb. The category is of your own series.
def nyumba_category(a):
    if a <= 3000:
        return "Kibich"
    elif a <= 9000:
        return "Ruaka"
    elif a <= 15000:
        return "Paipu"
    elif a <= 20000:
        return "Runda"
    else: return "Kwani Unaishi?"

In [14]:
#Apply the function created above to the series.
house_zone = random_nyumbas.apply(nyumba_category)

In [17]:
#Apply a lambda function to increase the property prices by 10% due to the new tax laws.
price_increase = pd.Series(random_nyumbas).apply(lambda a: a * 1.10)

In [21]:
#Apply a custom function to increase the property prices by and additional Ksh 250 for garbage.
def garbage_price(a):
    return a+250

overall_price=pd.Series(price_increase).apply(garbage_price)

In [22]:
#Create a new Series for each step and Finally Combine them all into a DataFrame name 'Moringa_property'.
tabulation= {
    'Nyumba Rates': random_nyumbas,
    'Zones': house_zone,
    'Zakayos': price_increase,
    'Overall Price': overall_price
}


Moringa_property = pd.DataFrame(tabulation)

print("\Moringa_property:")
print(Moringa_property.tail(30))

\Moringa_property:
     Nyumba Rates  Zones  Zakayos  Overall Price
90          15466  Runda  17012.6        17262.6
91           7171  Ruaka   7888.1         8138.1
92          15834  Runda  17417.4        17667.4
93           4983  Ruaka   5481.3         5731.3
94           5383  Ruaka   5921.3         6171.3
95          17101  Runda  18811.1        19061.1
96          12785  Paipu  14063.5        14313.5
97          19502  Runda  21452.2        21702.2
98          19679  Runda  21646.9        21896.9
99           8866  Ruaka   9752.6        10002.6
100         19742  Runda  21716.2        21966.2
101         12969  Paipu  14265.9        14515.9
102         15815  Runda  17396.5        17646.5
103         15814  Runda  17395.4        17645.4
104          5516  Ruaka   6067.6         6317.6
105         14892  Paipu  16381.2        16631.2
106         15628  Runda  17190.8        17440.8
107         15732  Runda  17305.2        17555.2
108         12747  Paipu  14021.7        14271.7
109         18320  Runda  20152.0        20402.0
110         18819  Runda  20700.9        20950.9
111         15229  Runda  16751.9        17001.9
112          7186  Ruaka   7904.6         8154.6
113          9465  Paipu  10411.5        10661.5
114          5526  Ruaka   6078.6         6328.6
115          4227  Ruaka   4649.7         4899.7
116         19587  Runda  21545.7        21795.7
117         13110  Paipu  14421.0        14671.0
118         11382  Paipu  12520.2        12770.2
119          9316  Paipu  10247.6        10497.6