In [3]:
#get student name
def get_student_name():
    name =input("e.g Baraka")
    return name
get_student_name()

e.g Baraka Baraka Ongeti

'Baraka Ongeti'

In [12]:
def get_scores():
    """get user input"""
    student_score=[]
    subjects=["English","Kiswahili","Maths","Science","GHC"]
    for subject in subjects:
        score =int(input(f"Enter {subject},Score: "))
        student_score.append(score)
    return student_score
get_scores()

Enter English,Score:  45
Enter Kiswahili,Score:  6
Enter Maths,Score:  66
Enter Science,Score:  66
Enter GHC,Score:  66

[45, 6, 66, 66, 66]

In [27]:
def student_performance():
    """Get student name
        Get students 
    sum the students
    """
    
    student_name = get_student_name()
    student_scores = get_scores()
    student_grade = []
    #loop through the grades
    for score in student_scores:
        if (score >=70) and (score<=100):
            grade="A"
            student_grade.append(grade)
            
        elif (score >=60) and (score <70):
            grade ="B"
            student_grade.append(grade)
              
        elif (score >=50) and (score <60):
            grade ="C"
            student_grade.append(grade)
              
        elif (score >=40) and (score <50):
            grade ="D"
            student_grade.append(grade)
              
        elif (score >=0) and (score <40):
            grade ="E"
            student_grade.append(grade)
        else:
            print("Invalid grade")
            student_grade.append(None)
    total=sum(student_scores)
              
    return student_name, student_scores,student_grade, total

In [28]:
student_performance()

e.g Baraka Baraka
Enter English,Score:  99
Enter Kiswahili,Score:  9
Enter Maths,Score:  99
Enter Science,Score:  99
Enter GHC,Score:  99

('Baraka', [99, 9, 99, 99, 99], ['A', 'E', 'A', 'A', 'A'], 405)

In [33]:
#adding more students
student_number=0
class_performance ={
    "Name":[],
    "English":[],
    "English_grade":[],
    "Kiswahili":[],
    "Kiswahili_grade":[],
    "Maths":[],
    "Maths_grade":[],
    "Science_grade":[],
    "Science":[],
    "GHC":[],
    "GHC_grade":[],
    "total":[],
    
}
while (student_number <2):
    individual_student =student_performance()
    individual_student =list(individual_student)
    class_performance["Name"].append(individual_student[0])
    class_performance["English"].append(individual_student[1][0])
    class_performance["English_grade"].append(individual_student[2][0])
    class_performance["Kiswahili"].append(individual_student[1][1])
    class_performance["Kiswahili_grade"].append(individual_student[2][1])
    class_performance["Maths"].append(individual_student[1][2])
    class_performance["Maths_grade"].append(individual_student[2][2])
    class_performance["Science"].append(individual_student[1][3])
    class_performance["Science_grade"].append(individual_student[2][3])
    class_performance["GHC"].append(individual_student[1][4])
    class_performance["GHC_grade"].append(individual_student[2][4])
    class_performance["total"].append(individual_student[3])
    
    
    student_number +=1

e.g Baraka Barasa
Enter English,Score:  88
Enter Kiswahili,Score:  88
Enter Maths,Score:  99
Enter Science,Score:  99
Enter GHC,Score:  99
e.g Baraka 99
Enter English,Score:  99
Enter Kiswahili,Score:  99
Enter Maths,Score:  77
Enter Science,Score:  77
Enter GHC,Score:  77

In [34]:
print(class_performance)

{'Name': ['Barasa', '99'], 'English': [88, 99], 'English_grade': ['A', 'A'], 'Kiswahili': [88, 99], 'Kiswahili_grade': ['A', 'A'], 'Maths': [99, 77], 'Maths_grade': ['A', 'A'], 'Science_grade': ['A', 'A'], 'Science': [99, 77], 'GHC': [99, 77], 'GHC_grade': ['A', 'A'], 'total': [473, 429]}

In [35]:
import pandas as pd
df =pd.DataFrame(class_performance)
df

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Maths,Maths_grade,Science_grade,Science,GHC,GHC_grade,total
0,Barasa,88,A,88,A,99,A,A,99,99,A,473
1,99,99,A,99,A,77,A,A,77,77,A,429

In [ ]:
# Adding a key value pairs in the dictionary
class_performance={}
class_performance["name"]= "Lumumba"
print (class_performance)

In [ ]:
#get student total
def get_student_total():
    #Get total scores
    #Returns:
       # total student score
   #
    student_score=get_grade()
    total =sum(student_score)
    
    return total

In [ ]:
get_student_total()

In [26]:
students_performance()

e.g Baraka 90
Enter English,Score:  99
Enter Kiswahili,Score:  99
Enter Maths,Score:  99
Enter Science,Score:  99
Enter GHC,Score:  9

NameError: name 'grade_student' is not defined